build_dir=$1
test_log=$2
build_jobs="${SPIRV_BUILD_JOBS:-2}"


{%for env_item in env %}
	export {{env_item}}
{%endfor%}

{%if not is_rebuild %}
	if [[ ! -d external/spirv-headers || ! -d external/googletest || ! -d external/effcee ]]; then
		if [[ ! -f utils/git-sync-deps ]]; then
			echo "utils/git-sync-deps is required for revision-pinned SPIRV dependencies" >&2
			exit 1
		fi
		python3 utils/git-sync-deps
	fi

{%endif%}


{%if not is_rebuild %}
	cmake_flags="{{build_flags|join(" ") }}"
	if command -v ccache >/dev/null 2>&1; then
		cmake_flags="$cmake_flags -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache"
	fi
	
	cmake \
	$cmake_flags \
	-G Ninja -B "$build_dir"


{%endif%}


{%if test_flags %}
	build_targets=()
{%for test_target in test_flags %}
	build_targets+=("{{test_target|replace('spirv-tools-', '')}}")
{%endfor%}
	ninja -C "$build_dir" -j"$build_jobs" "${build_targets[@]}"
{%else%}
	ninja -C "$build_dir" -j"$build_jobs"
{%endif%}
